@import "tailwindcss";

@theme {
  --color-violet: #735397;
  --color-paper: #f7f5f0;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-violet);
  font-family: var(--font-poppins), sans-serif;
}
